---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="About John Doe"
  seoTitle="About John Doe"
  seoDesc="This section refers to information about John Doe, his skills, his interests"
>
  <div class="w-8/12 md:w-6/12 mx-auto">
    <h1 class="text-5xl md:text-5xl text-center">About John Doe</h1>
  </div>
</MainLayout>
